/* Algemene opmaak */
body {
background-color: bisque;
color: black;
}

/* Header */
header {
    background-color: darksalmon;
    color:black;
}

/* Footer */
footer {
    background-color: darksalmon;
    color: black;
}

/* Tabel */
table {
    border-collapse: collapse;
}

td {
    width: 120;
    width: 120;
    border: 1px solid black;
}

td img {
    width: 100;
    height: 100;
}

#groen1 { background-color: rgb(0,128,0); }
#blauw1 { background-color: rgb(0,0,255); }
#paars1 { background-color: rgb(128,0,128); }
#rood1 { background-color: rgb(255,0,0); }

#groen2 { background-color: rgb(0,80,0);}
#blauw2 { background-color: rgb(0,0,128);}
#paars2 { background-color: rgb(75,0,130);}
#rood2 { background-color: rgb(139,0,0);}

#groen3 { background-color: rgb(0,255,0);}
#blauw3 { background-color: rgb(0,191,255);}
#paars3 { background-color: rgb(148,0,211);}
#rood3 { background-color: rgb(220,2,060);}

#groen4 { background-color: rgb(144,238,144);}
#blauw4 { background-color: rgb(135,206,250);}
#paars4 { background-color: rgb(218,112,214);}
#rood4 { background-color: rgb(250,128,114);}